@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
}

.page-wraper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding: 0 70px;
}

.navigation-header {
  display: flex;
  width: 920px;
  padding-left: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user {
  justify-content: end;
  align-items: center;
  width: 330px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-link-search {
  background-image: url("../images/svg/icon-search.svg");
  background-repeat: no-repeat;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
}

.navigation-link-favorites {
  background-image: url("../images/svg/icon-heart.svg");
  background-repeat: no-repeat;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
  margin-right: 20px;
}

.intro {
  background-image: url("../images/background/background-image-intro.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 51px 371px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-intro-title {
  margin: 0 0 25px 0;
  padding: 0;
}

.advantages-intro-paragraph {
  margin: 0;
  padding: 0;
}

.advantages-intro {
  padding: 69px 274px;
}

.paragraph {
  font-size: 22px;
  line-height: 26px;
}

.advantages-card {
  display: flex;
}

.advantages-list,
.service-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-title {
  margin: 0 0 62px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-desription {
  margin: 0;
  padding: 0;
}

.advantages-content {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  padding: 102px 85px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 102px 85px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-intro {
  padding: 64px 347px;
}

.service-intro-title {
  margin: 0 0 20px 0;
}

.service-intro-paragraph {
  margin: 0;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 185px 85px 80px;
}

.service-item-apartment {
  background-image: url(../images/svg/icon-advantage-house.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 85px;
}

.service-item-food {
  background-image: url(../images/svg/icon-advantage-burger.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 85px;
}

.service-item-souvenirs {
  background-image: url(../images/svg/icon-advantage-presentbox.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 85px;
}

.service-title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-desription {
  margin: 0;
}

.service-item:nth-child(even) {
  background-color: #ffffff;
}

.hotel-research-title {
  margin: 0 0 20px 0;
}

.hotel-research-paragraph {
  margin: 0 0 54px 0;
}

.subscription-form-title {
  margin: 0 0 20px 0;
}

.subscription-form-paragraph {
  margin: 0 0 54px 0;
}

.subscription-form {
  background-image: url("../images/background/background-image-subscribe-form.jpg");
  background-size: cover;
  padding: 100px 260px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-form-catalog {
  background-image: none;
  color: #000000;
}

.subscription-form-email {
  display: flex;
}

.subscription-form-email-input-field {
  font-family: inherit;
  line-height: 24px;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 20px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background: #F2F2F2;
}

.subscription-form-email-label {
  flex-grow: 1;

}

.hotel-research {
  padding: 96px 304px;
}

.page-footer {
  padding: 40px 70px;
  display: flex;
  justify-content: space-between;
}

.social-contacts-list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-contacts-link {
  position: relative;
  display: block;
  min-width: 48px;
  min-height: 40px;
}

.social-contacts-link-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.social-contacts-link:hover .social-contacts-link-svg {
  fill: #2c4250;
}

.page-footer-htmlacademy-link {
  width: 150px;
  position: relative;
}

.page-footer-htmlacademy-link-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.social-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.social-contacts-phone:hover {
  color: #756157;
}

.social-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.inner-header {
  text-align: start;
  margin: 0 0 40px 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.filters {
  background-image: url("../images/background/background-image-filter.jpg");
  background-size: cover;
  padding: 35px 70px 70px 70px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link-home {
  display: block;
  min-width: 13px;
  min-height: 21px;
  background-image: url("../images/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.breadcrumbs-link-current {
  padding-left: 18px;
  background-image: url(../images/svg/breadcrumbs.svg);
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-form-group {
  width: 150px;
  margin: 0 auto 0 0;
  padding: 0;
}

.filter-form-group-price {
  width: 288px;
  margin: 0 0 0 auto;
}

.filter-form-button-section {
  width: 191px;
  margin-left: auto;
}

.result-sort {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.result-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.filter-form-group {
  border: none;
}

.filter-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.result {
  padding: 50px 70px 60px 70px;
}

.result-select-control {
  margin-left: 200px;
  padding: 14px 20px;
  width: 292px;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.result-select-control:hover {
  border: 2px solid #68A2CA;
}

.result-position-control {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  width: 180px;
  gap: 20px 8px;
}

.position-button {
  min-width: 48px;
  min-height: 48px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-position: center;
  cursor: pointer;
}

.position-button-icons {
  background-image: url("../images/svg/icon-search-position-icons.svg");
  background-repeat: no-repeat;
}

.position-button-one {
  background-image: url("../images/svg/icon-search-position-one.svg");
  background-repeat: no-repeat;
}

.position-button-list {
  background-image: url("../images/svg/icon-search-position-list.svg");
  background-repeat: no-repeat;
}

.position-button-current {
  border: 2px solid #000000;
}

.position-button:hover,
.position-button:active {
  border: 2px solid #000000;
}

.apartment-list {
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.apartment-card {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.apartment-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  margin: 16px 0;
}

.apartment-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.apartment-card-type {
  font-size: 18px;
  line-height: 21px;
  text-align: start;
}

.apartment-card-coast {
  font-size: 18px;
  line-height: 21px;
  text-align: end;
}

.apartment-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px 8px;
}

.pagination-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-divider:active, .pagination-link-current:active  {
  color: #000000;
}

.pagination-link-current:hover {
  background-color: #f2f2f2;
}

.pagination-link-divider:hover {
  background-color: #ffffff;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-divider {
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}

.apartment-card-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button {
  font-family: inherit;
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-research-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  margin: 0 auto;
}

.subscription-form-button {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

.navigation-link-button {
  width: 160px;
}

.apartment-card-link-button,
.apartment-card-like-button {
  width: 140px;
  padding: 8px;
}

.filter-form-button-submit,
.filter-form-button-reset {
  width: 191px;
}

.apartment-card-stars-rating {
  background-image: url("../images/svg/rating-star.svg");
}

.two-stars-rating {
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-clip: content-box;
  padding-right: 100px;
}

.three-stars-rating {
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-clip: content-box;
  padding-right: 80px;
}

.four-stars-rating {
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-clip: content-box;
  padding-right: 60px;
}

.apartment-card-rating {
  background-color: #f2f2f2;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.blue-color-button {
  border: none;
  background-color: #82b3d3;
}

.green-color-button {
  background-color: #7db54f;
}

.button:hover {
  background-color: #615048;
  cursor: pointer;
}

.blue-color-button:hover {
  background-color: #68A2CA;
}

.transparent-button:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.green-color-button:hover {
  background-color: #6C9E42;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
