@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
}

.page-wraper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding: 0 70px;
  height: 64px;
}

.navigation-header {
  display: flex;
  width: 920px;
  padding-left: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user {
  justify-content: end;
  align-items: center;
  width: 330px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-link-search {
  background-image: url("../images/svg/icon-search.svg");
  background-repeat: no-repeat;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
}

.navigation-link-favorites {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  margin-right: 20px;
}

.navigation-link-favorites-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.intro {
  background-image: url("../images/background/background-image-intro.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 51px 371px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-intro-title {
  margin: 0 0 25px 0;
  padding: 0;
}

.advantages-intro-paragraph {
  margin: 0;
  padding: 0;
}

.advantages-intro {
  padding: 69px 274px;
}

.paragraph {
  font-size: 22px;
  line-height: 26px;
}

.advantages-card {
  display: flex;
}

.advantages-list,
.service-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-title {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-desription {
  margin: 0;
  padding: 0;
}

.advantages-content {
  background-color: #82b3d3;
  color: #ffffff;
  width: 400px;
  padding: 102px 85px;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 85px;
  right: 85px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.advantages-content .advantages-title::after {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 112px 85px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-intro {
  padding: 64px 347px;
}

.service-intro-title {
  margin: 0 0 20px 0;
}

.service-intro-paragraph {
  margin: 0;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 185px 85px 80px;
}

.service-item-apartment {
  background-image: url(../images/svg/icon-advantage-house.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 85px;
}

.service-item-food {
  background-image: url(../images/svg/icon-advantage-burger.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 85px;
}

.service-item-souvenirs {
  background-image: url(../images/svg/icon-advantage-presentbox.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 85px;
}

.service-title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-desription {
  margin: 0;
}

.service-item:nth-child(even) {
  background-color: #ffffff;
}

.hotel-research-title {
  margin: 0 0 20px 0;
}

.hotel-research-paragraph {
  margin: 0 0 54px 0;
}

.subscription-form-title {
  margin: 0 0 20px 0;
}

.subscription-form-paragraph {
  margin: 0 0 54px 0;
}

.subscription-form {
  background-image: url("../images/background/background-image-subscribe-form.jpg");
  background-size: cover;
  padding: 100px 260px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-form-catalog {
  background-image: none;
  color: #000000;
}

.subscription-form-email {
  display: flex;
}

.subscription-form-email-input-field {
  font-family: inherit;
  line-height: 24px;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 20px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background: #F2F2F2;
}

.subscription-form-email-label {
  flex-grow: 1;
}

.hotel-research {
  padding: 96px 304px;
}

.page-footer {
  padding: 40px 70px;
  display: flex;
  justify-content: space-between;
}

.social-contacts-list {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-contacts-link {
  position: relative;
  display: block;
  min-width: 48px;
  min-height: 40px;
}

.social-contacts-link-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-contacts-link:hover .social-contacts-link-svg {
  fill: #68A2CA;
}

.social-contacts-link:focus .social-contacts-link-svg {
  fill: #68A2CA;
}

.social-contacts-link:active .social-contacts-link-svg {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer-htmlacademy-link {
  width: 150px;
  position: relative;
}

.page-footer-htmlacademy-link-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0 auto auto;
}

.page-footer-htmlacademy-link:hover .page-footer-htmlacademy-link-svg {
  fill: #756157;
}

.page-footer-htmlacademy-link:focus .page-footer-htmlacademy-link-svg {
  fill: #756157;
}

.page-footer-htmlacademy-link:active .page-footer-htmlacademy-link-svg {
  fill: rgba(117, 97, 87, 0.3);
}


.social-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.social-contacts-phone:hover {
  color: #756157;
}

.social-contacts-phone:focus {
  color: #756157;
}

.social-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.inner-header {
  text-align: start;
  margin: 0 0 40px 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.filters {
  background-image: url("../images/background/background-image-filter.jpg");
  background-size: cover;
  padding: 35px 70px 70px 70px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link-home {
  padding-right: 19px;
  background-image: url(../images/svg/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  display: block;
  min-width: 13px;
  min-height: 21px;
  margin-right: 10px;
  fill: #FFFFFF;
}

.breadcrumbs-link-home:hover .breadcrumbs-link-home-svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:focus .breadcrumbs-link-home-svg {
  fill: #FFFFFF;
}

.breadcrumbs-link-home:active .breadcrumbs-link-home-svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-current {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-current:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-current:focus {
  color: #FFFFFF;
}

.breadcrumbs-link-current:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-form-group {
  width: 150px;
  margin: 0 auto 0 0;
  padding: 0;
}

.filter-form-group-price {
  width: 288px;
  margin: 0 0 0 auto;
}

.filter-form-button-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 191px;
  margin-left: auto;
}

.result-sort {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.result-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.filter-form-group {
  border: none;
}

.filter-form-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: start;
}

.filter-form-listing {
  margin-bottom: 16px;
}

.filter-form-item {
  position: relative;
  display: block;
  padding-left: 36px;
}

.filter-form-listing:last-child {
  margin-bottom: 0;
}

.filter-form-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.filter-form-title {
  text-align: start;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-form-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-form-item:hover .filter-form-mark,
.filter-form-item:hover .filter-form-radio-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-form-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-form-item:active .filter-form-mark,
.filter-form-item:active .filter-form-radio-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-form-checkbox[type="checkbox"]:checked + .filter-form-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url(../images/svg/input-checkbox-mark.svg);
}

.filter-form-radio-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.filter-form-radio[type="radio"]:checked + .filter-form-radio-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.filter-form-price-wraper {
  display: flex;
  margin-bottom: 35px;
}

.item-price-min {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-right: 2px;
}

.item-price-max {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.filter-form-item-price {
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  width: 143px;
  height: 48px;
}

.filter-form-price-input {
  width: 80px;
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.range {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-line {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-button {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.range-button-min {
  top: -8px;
  left: 0;
}

.range-button-max {
  top: -8px;
  right: 0;
}

.result {
  padding: 50px 70px 60px 70px;
}

.result-select-control {
  margin-left: 200px;
  padding: 14px 20px;
  width: 292px;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.result-select-control:hover {
  border: 2px solid #68A2CA;
}

.result-select-control:focus {
  border: 2px solid #68A2CA;
}

.result-position-control {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  width: 180px;
  gap: 20px 8px;
}

.position-button {
  min-width: 48px;
  min-height: 48px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-position: center;
  cursor: pointer;
}

.position-button-icons {
  background-image: url("../images/svg/icon-search-position-icons.svg");
  background-repeat: no-repeat;
}

.position-button-one {
  background-image: url("../images/svg/icon-search-position-one.svg");
  background-repeat: no-repeat;
}

.position-button-list {
  background-image: url("../images/svg/icon-search-position-list.svg");
  background-repeat: no-repeat;
}

.position-button-current {
  border: 2px solid #000000;
}

.position-button:hover,
.position-button:active {
  border: 2px solid #000000;
}

.apartment-list {
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.apartment-card {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.apartment-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  margin: 16px 0;
}

.apartment-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.apartment-card-type {
  font-size: 18px;
  line-height: 21px;
  text-align: start;
}

.apartment-card-coast {
  font-size: 18px;
  line-height: 21px;
  text-align: end;
}

.apartment-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px 8px;
}

.pagination-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-divider:active,
.pagination-link-current:active {
  color: #000000;
}

.pagination-link-current:hover {
  background-color: #f2f2f2;
}

.pagination-link-divider:hover {
  background-color: #ffffff;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-divider {
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}

.apartment-card-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button {
  font-family: inherit;
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-research-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  margin: 0 auto;
}

.subscription-form-button {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}

.navigation-link-button {
  width: 160px;
}

.apartment-card-link-button,
.apartment-card-like-button {
  width: 140px;
  padding: 8px;
}

.filter-form-button-submit,
.filter-form-button-reset {
  width: 191px;
}

.filter-form-button-submit {
  margin-bottom: 30px;
}

.apartment-card-stars-rating {
  background-image: url("../images/svg/rating-star.svg");
}

.two-stars-rating {
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-clip: content-box;
  padding-right: 100px;
}

.three-stars-rating {
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-clip: content-box;
  padding-right: 80px;
}

.four-stars-rating {
  background-repeat: space no-repeat;
  background-position: 0 50%;
  background-clip: content-box;
  padding-right: 60px;
}

.apartment-card-rating {
  background-color: #f2f2f2;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.blue-color-button {
  border: none;
  background-color: #82b3d3;
}

.green-color-button {
  background-color: #7db54f;
}

.button:hover {
  background-color: #615048;
  cursor: pointer;
}

.blue-color-button:hover {
  background-color: #68A2CA;
}

.transparent-button:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.green-color-button:hover {
  background-color: #6C9E42;
}

.button:focus {
  background-color: #615048;
  cursor: pointer;
}

.blue-color-button:focus {
  background-color: #68A2CA;
}

.transparent-button:focus {
  color: #ffffff;
  background-color: transparent;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.green-color-button:focus {
  background-color: #6C9E42;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8)
}

.modal-window {
  position: relative;
  margin: auto;
  width: 720px;
  display: flex;
  flex-direction: column;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  display: flex;
}

.modal-close-button-svg {
  margin: auto;
}

.modal-close-button:hover {
  background-color: #E5E5E5;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active .modal-close-button-svg {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  text-align: start;
  margin-bottom: 64px;
}

.modal-form-block {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  align-items: baseline;
  margin-bottom: 48px;
  justify-content: space-between;
}

.modal-count-block {
  display: flex;
  align-items: center;
}

.modal-count-input[type="number"]::-webkit-outer-spin-button,
.modal-count-input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-data-input {
  width: 440px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.modal-button-count {
  position: relative;
  border: none;
  height: 48px;
  width: 40px;
  background-color: #F2F2F2;
  padding: 14px 10px;
  fill-opacity: 0.3;
}

.modal-button-count:hover  .modal-button-svg {
  fill-opacity: 1;
}

.modal-button-count:focus  .modal-button-svg {
  fill: #000000;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.modal-button-count:active  .modal-button-svg {
  fill-opacity: 0.3;
}

.modal-count-input {
  border: none;
  height: 48px;
  width: 30px;
  background-color: #F2F2F2;
  padding: 14px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-button-minus {
  margin-left: 46px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.modal-button-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal-button {
  width: 100%;
  font-size: 20px;
  line-height: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
